@import './styles/_gameboard.scss';
@import './styles/_modal.scss';

:root {
  font-family: sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
  border-radius: 0;
}

.body {
  z-index: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
  justify-items: center;

  height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
  width: 100%;
  height: 100%;

  display: grid;
  justify-items: center;
  align-items: center;

}

footer {
  grid-area: footer;
}

header,
footer {
  width: 100%;
  text-align: center;
}